*{
    margin:0;
    padding:0;
    font-family: 'Zhi Mang Xing', cursive;
}
html,body{
max-width: 100%;
overflow-x: hidden;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    text-decoration: none;
}
.header h1{
    margin: 0px;
    padding: 8px 12px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 8px rgb(0, 183, 255);
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    padding: 8px 13px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 1px 3px rgb(0, 0, 0);
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(46, 45, 45);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 80%;
}
.text-box{
width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
text-align: center;
}
.text-box h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
}
nav .glyphicon{
    display: none;
}
.col p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: none;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 50px;
    padding-top: 10px;
}
.example p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: none;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 50px;
    padding-top: 10px;
}
.example h1{
    color: beige;
    font-size: 100px;
    text-shadow: 1px 8px rgba(0, 0, 0, 0.7);
    
}
.d-flex{
    background-color: rgb(0, 195, 255);
}
.d-flex h1{
    text-shadow:rgb(0, 0, 0) 1px 0 10px;
    color: white; 
    font-size: 50px;
}
.layer{
    background: transparent;
    top: -10%;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    opacity: .8;
    height: 110%;
    background: rgba(0, 204, 255, 0.7);
}
.layer h3{
    width: 100%;
    color:#fff;
    font-size: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 70%;
    opacity: 1;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 10%;
    transition: .5s ease;
  }
  .container:hover .overlay {
    width: 98%;
    left: 16px;
    opacity: .8;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 10%;
    transition: .5s ease;
  }
  
  .container2:hover .overlay2 {
    width: 100%;
    opacity: .8;
  }
/*-------------Phone Mode---------------*/
@media(max-width:700px){
    .header h1{
        padding: 8px 20px;
    }
    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #00c3ff;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;

    }
    nav .glyphicon{
        position: absolute;
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        top: 0px;
        right: 0px;
    }
    nav .re{
        position: absolute;
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        top: 0px;
        left: 0px;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction:column
    }
    .projectRow{
        flex-direction:column
    }
    .example h1{
        font-size: 50px;
    }
    .example p{
        font-size: 30px;
    }
    .col p{
        font-size: 25px;
    }
    .text {

        font-size: 10px;
    }
      .flip-box-front img{
        height: 600px;
    }
    .container img{
        margin: 10px;
        height: 200px;
    }
    .container2 img{
        margin: 30px;
        height: 200px;
    }
    .d-flex h1{
        font-size: 30px;
        padding: -10px;
    }
    .layer h3{
        font-size: 50px;
    }
    .overlay {
        height: 20%;
      }
      .container:hover .overlay {
        width: 85.5%;
        left: 34px;
      }
      .overlay2 {
        height: 20%;
      }
      .container2:hover .overlay2 {
        left: 31px;
      }
      
}
/*-------------animation---------------*/
.circles{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.404);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*-------------WE can---------------*/
.example{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    animation: infinite;
    background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgb(87, 230, 135) 25%, 
        rgb(255, 153, 0) 51%, 
        rgb(255, 53, 53) 100%
  );  
    animation-name: example;
    animation-duration: 8s;
    /*background: linear-gradient(70deg,rgb(0, 204, 255),rgb(0, 255, 34));*/
}
@keyframes example {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.cloum{
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.container {
    margin-top: 50px;
    position: relative;
    flex-basis: auto;
}
  .image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 800px;
    box-shadow: 10px 10px;
  }
    
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Microsoft Yahei",MSYH;
  }
  /*-------------we can 2---------------*/
.container2 {
    flex-basis: auto;
    margin-top: 0;
    position: relative;
  }
  .image2 {
    display: block;
    width: 100%;
    height: auto;
    max-height: 800px;
    box-shadow: -10px 10px;
  }
  
  
  .text2 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "Microsoft Yahei",MSYH;
  }
/*-------------We can 2 end---------------*/

/*-------------项目展示---------------*/
.example-project{
    margin:auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    animation: infinite;
    background-image: linear-gradient(
        -165deg, 
        rgba(59,173,227,1) 0%, 
        rgb(87, 230, 135) 25%, 
        rgb(255, 153, 0) 51%, 
        rgb(255, 53, 53) 100%
  );  
    animation-name: exampleProject;
    animation-duration: 8s;
    /*background: linear-gradient(70deg,rgb(0, 204, 255),rgb(0, 255, 34));*/
}
@keyframes exampleProject {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.example-project h1{
    font-size: 40px;
    color: black;
    text-shadow: 1px 3px rgb(255, 255, 255);
}
.example-project p{
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 22px;
    padding-top: 10px;
    text-shadow: 1px 4px rgb(255, 255, 255);
    font-family: "Microsoft Yahei",MSYH;
}
.projectRow{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}
.project-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.project-col img{
    width: 100%;
    border-radius: 10px;
    min-height: 500px;
    max-height: 500px;
    display: block;
}

/*-------------地板---------------*/
.Sub-header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/floorBac.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.Sub-header a{
    text-decoration: none;
}
.Sub-header h1{
    margin: 0px;
    padding: 8px 12px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 8px rgb(0, 183, 255);
}
.example2{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    animation: infinite;
    background-image: linear-gradient(
        -165deg, 
        rgba(59,173,227,1) 0%, 
        rgb(87, 230, 135) 25%, 
        rgb(255, 153, 0) 51%, 
        rgb(255, 53, 53) 100%
  );  
    animation-name: example2;
    animation-duration: 8s;
}

@keyframes example2 {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
.example2 h1{
    color: beige;
    font-size: 40px;
    text-shadow: 1px 8px rgba(0, 0, 0, 0.7);
}
.example2 p{
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
    text-shadow: 1px 4px rgba(0, 0, 0, 0.7);
    font-family: "Microsoft Yahei",MSYH;
}
.flip-box {
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    height: 600px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    border-radius: 10px;
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    border-radius: 10px;
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back h2{
    font-size: 60px;
    color: #000000;
    text-shadow: 1px 5px rgba(255, 255, 255, 0.7);
  }
  .flip-box-back P{
      font-size: 30px;
      font-family: "Microsoft Yahei",MSYH;
  }
/*-------------地板 END---------------*/

/*-------------水電---------------*/
.SubWE-header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/electricianBackGround.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.SubWE-header a{
    text-decoration: none;
}
.SubWE-header h1{
    margin: 0px;
    padding: 8px 12px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 8px rgb(0, 183, 255);
}
.Page-text h1{
width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-shadow: 1px 8px rgba(0, 0, 0, 0.7);
text-align: center;
font-size: 120px;
}
/*-------------水電 END---------------*/

/*-------------油漆---------------*/
.SubP-header{
    padding:0;margin:0;
    min-height: 100vh;
    width: 100%;
    background-image: url("images/paintBack.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.SubP-header a{
    text-decoration: none;
}
.SubP-header h1{
    margin: 0px;
    padding: 8px 12px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 8px rgb(0, 183, 255);
}
/*-------------油漆 END---------------*/


/*-------------木工---------------*/
.SubW-header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/woodBackground.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.SubW-header a{
    text-decoration: none;
}
.SubW-header h1{
    margin:0;
    padding: 8px 12px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 8px rgb(0, 183, 255);
}
/*-------------木工 END---------------*/
